# Git
.git
.gitignore

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
env/
venv/

# Build / dist artifacts
build/
dist/
*.egg-info/

# IDE / editor
.vscode/
.idea/

# Tests and cache
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log

# Env files (ми будемо пробросувати їх через docker-compose)
.env
.env.*

# Local data
users.csv
*.db
